In [11]:
import pandas as pd
import numpy as np

In [7]:
 df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale':[55, 40, 84, 31]})

In [8]:
df.shape

(4, 3)

In [14]:
df

   month  sale  year
0      1    55  2012
1      4    40  2014
2      7    84  2013
3     10    31  2014

In [12]:
temp = np.arange(len(df))
print (type(temp), temp.shape)

<class 'numpy.ndarray'> (4,)

In [16]:
temp

array([0, 1, 2, 3])

In [13]:
temp2 = temp//2
print (type(temp2), temp2.shape)

<class 'numpy.ndarray'> (4,)

In [15]:
temp2

array([0, 0, 1, 1], dtype=int32)

In [17]:
df.set_index(np.arange(len(df)) // 2).mean(level=0)

   month  sale    year
0    2.5  47.5  2013.0
1    8.5  57.5  2013.5

In [19]:
df.set_index(np.arange(len(df))//4).mean(level=0)

   month  sale     year
0    5.5  52.5  2013.25

In [25]:
index = pd.date_range('1/1/2000', periods=15, freq='T')

In [27]:
series = pd.Series(range(15), index=index)

In [28]:
series

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
2000-01-01 00:12:00    12
2000-01-01 00:13:00    13
2000-01-01 00:14:00    14
Freq: T, dtype: int64

In [29]:
series.resample('5T')

DatetimeIndexResampler [freq=<5 * Minutes>, axis=0, closed=left, label=left, convention=start, base=0]

In [30]:
series.resample('5T').mean()

2000-01-01 00:00:00     2
2000-01-01 00:05:00     7
2000-01-01 00:10:00    12
Freq: 5T, dtype: int64

In [33]:
series.resample('60S').asfreq()

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
2000-01-01 00:12:00    12
2000-01-01 00:13:00    13
2000-01-01 00:14:00    14
Freq: 60S, dtype: int64